<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            QUALITY GATES
        </title>
        <link rel="stylesheet" 
        href="https://bootswatch.com/4/materia/bootstrap.min.css">
    </head>
  <body>  
<div class="container mt-5"></div> 
 <div class="row"></div>   
  <div class="clo-md-5"></div>
   <div class="card"></div>   
    <div class="card-body"></div>

    <form action="/update/<%=data.ID%>" method="post">
        <h1 style="font-size:180%;" class="card-text">Información del proyecto:</h1>          
        <div class="form-group">
            <input type="number" name="ID" value ="<%=data.ID%>" class="form-control" style="text-align:center">
        </div>       
        <div class="form-group">
            <input type="text" name="NOMBREPROYECTO" placeholder="NOMBRE DEL PROYECTO" class="form-control" style="text-align:center" value ="<%=data.NOMBREPROYECTO%>">
        </div>

        <h1 style="font-size:180%;">Funcionalidad:</h1>
        <div class="form-group">
            <input type="number" name="CANTIDAD_CRITERIOS" placeholder="# CRITERIOS DE ACEPTACIÓN" class="form-control" style="text-align:center" value ="<%=data.CANTIDAD_CRITERIOS%>">
        </div>

        <div class="form-group">
            <input type="number" name="CANTIDAD_CRITERIOS_APROBADOS" placeholder="# CRITERIOS DE ACEPTACIÓN APROBADOS" class="form-control" style="text-align:center" value ="<%=data.CANTIDAD_CRITERIOS_APROBADOS%>">
        </div>       
        
        <h1 style="font-size:180%;">Fiabilidad / Confiabilidad:</h1>
        <div class="form-group">
            <input type="number" name="CANTIDAD_ENDPOINTS" placeholder="# ENDPOINTS" class="form-control" style="text-align:center" value ="<%=data.CANTIDAD_ENDPOINTS%>">
        </div>

        <div class="form-group">
            <input type="number" name="CANTIDAD_ENDPOINTS_APROBADOS" placeholder="# DE ENDPOINT BIEN DOCUMENTADOS" class="form-control" style="text-align:center" value ="<%=data.CANTIDAD_ENDPOINTS_APROBADOS%>">
        </div>  

        <h1 style="font-size:180%;">Mantenibilidad:</h1>
        
        <div class="form-group">
            <input type="number" name="CANTIDAD_LINEAS_CODIGO" placeholder="# LINEAS DE CODIGO" class="form-control" style="text-align:center" value ="<%=data.CANTIDAD_LINEAS_CODIGO%>">
        </div>

        <div class="form-group">
            <input type="number" name="COD_DUPLICADO" placeholder="% CODIGO DUPLICADO" class="form-control" style="text-align:center" value ="<%=data.COD_DUPLICADO%>">
        </div>

        <div class="form-group">
            <input type="number" name="COBERTURA" placeholder="% COBERTURA" class="form-control" style="text-align:center" value ="<%=data.COBERTURA%>">
        </div>

        <div class="form-group">
            <input type="number" name="ERRORES" placeholder="# ERRORES REPORTADOS" class="form-control" style="text-align:center" value ="<%=data.ERRORES%>">
        </div>

        <div class="form-group">
            <input type="number" name="CODESMELLS" placeholder="# CODE SMELLS" class="form-control" style="text-align:center" value ="<%=data.CODESMELLS%>">
        </div>

        <div class="form-group">
            <input type="number" name="VULNERABILIDADES" placeholder="# VULNERABILIDADES" class="form-control" style="text-align:center" value ="<%=data.VULNERABILIDADES%>">
        </div>

        <h1 style="font-size:180%;">Performance:</h1>

        <div class="form-group">
            <input type="number" name="CANTIDAD_ENDPOINTS_TIEMPOSOK" placeholder="# ENDPOINTS CON UN TIEMPO PROMEDIO DE RESPUESTA MENOR O IGUAL A 5 SEGUNDOS" class="form-control" style="text-align:center" value ="<%=data.CANTIDAD_ENDPOINTS_TIEMPOSOK%>">
        </div>
        <div style="text-align:center">
        <button type="submit" class="btn btn-info mb-2" style="text-align:center" >Actualizar</button>                              
        </div>
    </form>

  </body>
  </html>